footer.footer.container
	.footer__info.info
		.info__item
			.icon.icon-settings
			span.info__text САЙТ В РАЗРАБОТКЕ
		.info__item
			.icon.icon-phone
			span.info__text +7 987 92 017 92
	ul.footer__soc.soc
		li.soc__item
			a.soc__link.icon.icon-vk(href='#')
		li.soc__item
			a.soc__link.icon.icon-insta(href='#')
		li.soc__item
			a.soc__link.icon.icon-fb(href='#')
		li.soc__item
			a.soc__link.icon.icon-od(href='#')