extend includes/_layout
block title
	title Index
block content
	form.form.container#formSub(action='#')
		input.form__input(type='email' name='user_email' required placeholder='Оставьте свою почту и мы ЛИЧНО сообщим Вам о открытии')
		button.form__submit(type='submit') ПОДПИСАТЬСЯ
		.form__help Сообщение отправлено.