extend includes/_layout
block title
	title Index
block content
	form.form.container(action='#')
		input.form__input(type='email' required placeholder='Оставьте свою почту и мы ЛИЧНО сообщим Вам о открытии')
		button.form__submit(type='submit') ПОДПИСАТЬСЯ